obj
Temp
*.suo
*.user
*.pidb
*.userprefs

Immortal/Library/cache
Immortal/Library/metadata
Immortal/Library/previews
Immortal/Library/ScriptAssemblies
Immortal/Library/assetDatabase3
Immortal/Library/AssetImportState
Immortal/Library/assetservercachev3
Immortal/Library/AssetServerCacheV3
Immortal/Library/AssetVersioning.db
Immortal/Library/AudioManager.asset
Immortal/Library/BuildPlayer.prefs
Immortal/Library/BuildSettings.asset
Immortal/Library/DynamicsManager.asset
Immortal/Library/EditorSettings.asset
Immortal/Library/EditorUserBuildSettings.asset
Immortal/Library/expandedItems
Immortal/Library/FailedAssetImports.txt
Immortal/Library/guidmapper
Immortal/Library/InspectorExpandedItems.asset
Immortal/Library/MonoManager.asset
Immortal/Library/NetworkManager.asset
Immortal/Library/ScriptMapper
Immortal/Library/unity default resources
Immortal/Library/unity editor resources
Immortal/Library/ScriptAssemblies/CompilationCompleted.txt
Assembly-CSharp-vs.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
